/* colour pallete {"Raisin Black":"252627","Mountbatten Pink":"98838f",
"Maximum Yellow Red":"f1bf6a","Baby Powder":"f0f4ef Sage":"bfcc94"}*/

/* Global
-------------------*/
  html{
    box-sizing: border-box;
  }

  *, *:before, *:after{
    box-sizing: inherit;
  }

  body{
    color: #252627;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
  }

  a{
    color: #508484;
  }

  a:hover{
    text-decoration: none;
  }

  h1{
    font-size: 3.2em;
  }

  h2{

    font-size: 1.8em;
  }

  h3{
    margin-bottom: 0;
  }

  h1, h2{
    margin: 0;
    font-family: 'Sriracha', cursive;
  }

  figcaption{
    font-size: .8em;
    font-style: italic;
    font-weight: lighter;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  }



  .content-wrap{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
  }

  .item-details h3 + p{
    font-style: italic;
  }

  .item-details h3 ~ p{
      margin: 0;
    }

  .divider > section{
      overflow: hidden;
      border-bottom: .15em dashed #508484;
      padding: 1em 0;
    }

  .divider > section:last-of-type {
        overflow: hidden;
        border-bottom: none;
        padding: 1em 0;
      }

/* Profile
-------------------*/
  header{
    background: #80C4A3;
  }

/* Projects
-------------------*/
  .projects {
    background: #BDCBDB;
  }

  .project-item h3{
    margin-top: 0;
  }

/* Education
-------------------*/
  .education{
    background: #BDCBDB;
    padding-bottom: 100px
  }



/* Work Experience
-------------------*/
  .work-experience{
    background: #D1E6DC;
  }

  /* More
  -------------------*/
  .more{
    background: #D1E6DC;
  }

  .portfolio-img{
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1), opacity 250ms linear;
    min-width: 250px;
    min-height: 250px;
  }

  .portfolio-img:hover, .portfolio-item:focus .portfolio-img {
    transform: scale(1.05);
    opacity: .8;
  }

  /* Articles
  -------------------*/
  blockquote {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: #508484;
    padding: 1.5em 0 0.5em;
    margin: 1.5em 0;
    position: relative;
 }

  blockquote:before {
    content: '\201C';
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 3rem;
    height: 2rem;
    font: 6em/1.08em 'PT Sans', sans-serif;
    color: #508484;
    text-align: center;
 }

 blockquote:after {
    content: "\2013 \2003" attr(cite);
    display: block;
    text-align: right;
    font-size: 0.875em;
    color: #508484;
 }


 .quote-container {
   background: #fff;
   width: 100%;
   max-width: 480px;
   min-width: 320px;
   margin: .5em auto 0;
   padding: 1.5em;
 }
  .article-content{
    overflow: hidden;
    border-bottom: none;
    padding: 2em 1em;
  }

  .outer{
    display: block;
    text-align: center;

  }

 .article-img{
   max-width: 370px;
   min-height: 180px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   box-shadow: var(--bs);
 }


  #article footer{
    padding: 0;
  }

  #article .content-wrap{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 1.5em 0;
  }

  .nextprev{
    display: block;
    margin: auto auto;
    padding-bottom: 4em;
  }
  .next{
    float:right;
    text-align: right;
    margin: auto auto;
  }
  .next a, .back a{
    margin: 1em 2em;
    display: inline-block;
  }

  .back{
    float: left;
    text-align: left;
    margin: auto auto;
  }

  .next .btn, .back .btn{
    background: #D9E1E2;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
  }

  .next .btn:hover, .back .btn:hover{
      background: rgba(217,225,226,70%);
  }



/* Contact info
-------------------*/
  footer{
    background: #80C4A3;
    text-align: center;
  }

  .contact-list{
    list-style-type: none;
    padding: 0;

  }

  .contact-list a{
    margin: .5em 2em;
    display: inline-block;
  }

  footer .btn{
    background: #D9E1E2;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;

  }

  footer .btn:hover{
    background: rgba(217,225,226,70%);
  }

  /* Responsive Styles
  -------------------*/
  @media screen and (min-width:750px){
    header{
      text-align: center;
    }
    .project-item img{
      float: left;
      margin-right: 1em;
    }

    .job{
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 20px;
    }

    .contact-list{
      display: flex;
      justify-content: center;
    }

  }

  @media screen and (max-width:749px){
    h1{
      font-size: 2em;
    }
    h2{
      font-size: 1.3em;
    }
    h1, h2{
      line-height: 1;
    }
    body{
      font-size: 13px;
    }

  }

  @import url(https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu:300,400,700);
